<div class="p">FORM</div>
<br>
<p>Task Name</p>
<br>
<!-- <input type="text" [(ngModel)]="model.Name" name="Name"> -->
<input type="text" [(ngModel)]="profileform.Name">
<br>
<p>Task description</p>
<br>
<!-- <input type="text" [(ngModel)]="model.des" name="Desc"> -->
<input type="text" [(ngModel)]="profileform.Des">
<br>
<p>Date</p>
<br>
<!-- <input type="text" [(ngModel)]="model.date" name="Dates"> -->
<input type="text" [(ngModel)]="profileform.Dates">
<hr>
<button type="submit" class="color" (click)="onSubmit()">DONE</button>

